<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BrowserType" value="chrome" /><!--Currently only Support Firefox and Chrome only-->
    <add key="EnvironmentURL" value="https://www.gametwist.com/en/" />
    <add key="ChromeDriverLocation" value="C:\Selenium Drivers\chromedriver_win32"/>
    <add key="internalWait" value="60"/>
    <add key ="explicitwait" value="30" />
    <add key="UserName" value="srikanth47"/>
    <add key="Password" value="February99"/>
    <add key="SearchString" value="Slot"/>
    <add key="ToBeSelectedGamerow" value= "2"/>
    <add key="SlotSearchGamesCount" value="23"/>
  </appSettings>  
</configuration>